// Static top (unfixed, but 100% wide) navbar
.navbar-static-bottom {
  margin-bottom: 0;
  z-index: @zindex-navbar;
  border-width: 1px 0 0;

  @media (min-width: @grid-float-breakpoint) {
    border-radius: 0;
  }
}

//.navbar { font-family: @headings-font-family; }
